#root,
body{
    width: 100%;

    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    color: $black;
}
body{
    background-color: $white;
    background-image:  radial-gradient(#3082ff 0.5px, transparent 0.5px), radial-gradient(#3082ff 0.5px, darken($white, 5) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
li{
    list-style: none;
}
input,
button,
textarea{
    font-family: 'Nunito', sans-serif;
    border: none;
}

