.chat{
    &__list{
        display: grid;
        align-content: start;
        grid-gap: calc( var(--gap) * .75);
        height: 100%;
        padding: var(--gap);

        overflow-y: auto;
        overflow-x: hidden;
        transition: 2000ms linear;
    }
        &__item{
            position: relative;
            display: grid;
            justify-self: end;

            width: auto;
            max-width: 70%;
            height: auto;

            border-radius: calc( var(--radius) * 2);
            border-bottom-right-radius: 0;
            background-color: rgba($cta, .8);
            color: $white;
            
            animation: msg linear 250ms;

            &:hover{ background-color: rgba($cta, .85); }

            // Reverse
            &--current{
                justify-self: start;

                border-radius: calc( var(--radius) * 2);
                border-bottom-left-radius: 0;
                background-color: darken($white, 8);
                color: $black;

                animation: msg-r linear 250ms;

                .chat__username{ 
                    justify-self: start; 
                    color: rgba(black, .65);
                }
                .chat__like-c{ left: calc(100% - (var(--gap) * -2) - 16px ); }
                .chat__bg{
                    border-radius: calc( var(--radius) * 3);
                    border-bottom-left-radius: 0;
                }
                &:hover{ background-color: darken($white, 8); }
            }
        }
        &__content{ 
            display: grid; 
            grid-gap: 4px;
            padding: 8px 14px;
            cursor: pointer;
        }
            &__description{
                font-size: .833rem;
                line-height: 1.35;
                font-weight: 500;
            }
            &__username{ 
                justify-self: end;
                font-weight: 300;
                font-size: .694rem;
                color: rgba($white, .75);
                text-transform: capitalize;
            }
            &__like{
                &-c{
                    display: grid;
                    position: absolute;
                    left: calc(var(--gap) * -2 );
                }
                width: 16px;
                height: 16px;
               
                &:hover{ 
                    cursor: pointer;
                    & path,
                    & polygon,
                    & rect {
                        fill: $red;
                        stroke: $red;
                    }
                }
            }
            &__counter{
                text-align: center;
                font-size: .694rem;
                font-weight: 500;
                color: $gray;
            }
            &__bg{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;
                width: 100%;
                z-index: 10;
               
                border-radius: calc( var(--radius) * 3);
                border-bottom-right-radius: 0;
                background-color: rgba($black, .25);
                backdrop-filter: blur(3px);
            }
                &__delete{
                    width: 20px;
                    height: 20px;

                    fill: $white;
                    stroke: $white;

                    &:hover{ 
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
       
}